body {
    margin: 0;
    padding: 0;
    font-family: "Tahoma", sans-serif;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 70px; 
}


.login-container, .bookingConfirm, .register-container,
.Main_patient-container, .EditAppointment, .Time,
.ChooseDoctor, .ChooseHospital, .ChooseSection,
.ChooseRegion,.Main_Mangear ,.Main_docter 
,.Doctor_appointments ,.Department_Manager,
.profile,.edit_department {
    width: 100%; 
    max-width: 420px; 
    padding: 40px 30px;
}


h1, 
.Main_patient-container h1, .bookingConfirm h1, .Time h1,
.ChooseDoctor h1, .ChooseHospital h1, .ChooseSection h1,
.ChooseRegion h1, .EditAppointment h1 ,.editDepartmentPage h3{
    color: #333E64;
    margin-bottom: 50px;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.Main_patient-container h1, .bookingConfirm h1, .Time h1,
.ChooseDoctor h1, .ChooseHospital h1, .ChooseSection h1,
.ChooseRegion h1, .EditAppointment h1 ,.Main_docter h1 ,.settings h1{
    text-align: right;
    font-size: 25px;
}


label {
    font-size: 15px;
    color: #333;
    display: block;
    text-align: right;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 15px;
    outline: none;
}

input:focus {
    border-color: #3b4e94;
}

select {
    background-color: white;
    cursor: pointer;
    text-align: right;
}


.Appointment-container{ 
    width: 100%;
    max-width: 1200px; 
    text-align:center; 
    background-color: #ffffff; 
     padding: 20px;
      margin:10px;
      box-shadow:0 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
     } 
